trunk/google-search-java-sdk/schema/src/main/resources/com/google/code/googlesearch/ads.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:mms="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:element="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" xmlns:web="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" xmlns:enc="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" xmlns:pho="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:ia="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:rs="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" xmlns:news="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:ads="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:spl="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" xmlns:tra="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" xmlns:fls="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mw="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb">
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" schemaLocation="bing-search-api.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" schemaLocation="fls.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" schemaLocation="enc.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" schemaLocation="ia.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb" schemaLocation="mw.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" schemaLocation="mms.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" schemaLocation="news.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" schemaLocation="pho.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" schemaLocation="rs.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" schemaLocation="spl.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" schemaLocation="tra.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" schemaLocation="web.xsd"/>
  <xs:element name="Ad">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ads:Total"/>
        <xs:element ref="ads:PageNumber"/>
        <xs:element ref="ads:AdApiVersion"/>
        <xs:element ref="ads:Results"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Total" type="xs:integer"/>
  <xs:element name="PageNumber" type="xs:integer"/>
  <xs:element name="AdApiVersion" type="xs:double"/>
  <xs:element name="Results">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ads:AdResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ads:Rank"/>
        <xs:element ref="ads:Position"/>
        <xs:element ref="ads:Title"/>
        <xs:element ref="ads:Description"/>
        <xs:element ref="ads:DisplayUrl"/>
        <xs:element ref="ads:AdLinkUrl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rank" type="xs:integer"/>
  <xs:element name="Position" type="xs:string"/>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="DisplayUrl" type="xs:string"/>
  <xs:element name="AdLinkUrl" type="xs:anyURI"/>
</xs:schema>
