trunk/google-search-java-sdk/schema/src/main/resources/com/google/code/googlesearch/fls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mms="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:element="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" xmlns:web="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" xmlns:enc="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" xmlns:pho="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:ia="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:rs="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" xmlns:news="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:ads="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:spl="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" xmlns:tra="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" xmlns:fls="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mw="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb">
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" schemaLocation="ads.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" schemaLocation="bing-search-api.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" schemaLocation="enc.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" schemaLocation="ia.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb" schemaLocation="mw.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" schemaLocation="mms.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" schemaLocation="news.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" schemaLocation="pho.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" schemaLocation="rs.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" schemaLocation="spl.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" schemaLocation="tra.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" schemaLocation="web.xsd"/>
  <xs:element name="FlightStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="fls:AirlineCode"/>
        <xs:element minOccurs="0" ref="fls:AirlineName"/>
        <xs:element minOccurs="0" ref="fls:FlightNumber"/>
        <xs:element minOccurs="0" ref="fls:FlightName"/>
        <xs:element minOccurs="0" ref="fls:FlightHistoryId"/>
        <xs:element minOccurs="0" ref="fls:StatusString"/>
        <xs:element minOccurs="0" ref="fls:StatusCode"/>
        <xs:element minOccurs="0" ref="fls:OnTimeString"/>
        <xs:element minOccurs="0" ref="fls:ScheduledDeparture"/>
        <xs:element minOccurs="0" ref="fls:UpdatedDeparture"/>
        <xs:element minOccurs="0" ref="fls:ScheduledArrival"/>
        <xs:element minOccurs="0" ref="fls:UpdatedArrival"/>
        <xs:element minOccurs="0" ref="fls:OriginAirport"/>
        <xs:element minOccurs="0" ref="fls:DestinationAirport"/>
        <xs:element minOccurs="0" ref="fls:DepartureGate"/>
        <xs:element minOccurs="0" ref="fls:DepartureTerminal"/>
        <xs:element minOccurs="0" ref="fls:ArrivalGate"/>
        <xs:element minOccurs="0" ref="fls:ArrivalTerminal"/>
        <xs:element minOccurs="0" ref="fls:PreviousSegment"/>
        <xs:element minOccurs="0" ref="fls:NextSegment"/>
        <xs:element minOccurs="0" ref="fls:DataFreshness"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineCode" type="xs:string"/>
  <xs:element name="AirlineName" type="xs:string"/>
  <xs:element name="FlightNumber" type="xs:integer"/>
  <xs:element name="FlightName" type="xs:string"/>
  <xs:element name="StatusString" type="xs:string"/>
  <xs:element name="StatusCode" type="xs:integer"/>
  <xs:element name="OnTimeString" type="xs:string"/>
  <xs:element name="ScheduledDeparture" type="xs:string"/>
  <xs:element name="UpdatedDeparture" type="xs:string"/>
  <xs:element name="ScheduledArrival" type="xs:string"/>
  <xs:element name="UpdatedArrival" type="xs:string"/>
  <xs:element name="DepartureGate" type="xs:integer"/>
  <xs:element name="DepartureTerminal" type="xs:string"/>
  <xs:element name="ArrivalGate" type="xs:integer"/>
  <xs:element name="ArrivalTerminal" type="xs:string"/>
  <xs:element name="PreviousSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="fls:FlightHistoryId"/>
        <xs:element minOccurs="0" ref="fls:OriginAirport"/>
        <xs:element minOccurs="0" ref="fls:DestinationAirport"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="fls:FlightHistoryId"/>
        <xs:element minOccurs="0" ref="fls:OriginAirport"/>
        <xs:element minOccurs="0" ref="fls:DestinationAirport"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataFreshness" type="xs:integer"/>
  <xs:element name="FlightHistoryId" type="xs:integer"/>
  <xs:element name="OriginAirport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="fls:Code"/>
        <xs:element minOccurs="0" ref="fls:Name"/>
        <xs:element minOccurs="0" ref="fls:TimeZoneOffset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestinationAirport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="fls:Code"/>
        <xs:element minOccurs="0" ref="fls:Name"/>
        <xs:element minOccurs="0" ref="fls:TimeZoneOffset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeZoneOffset" type="xs:integer"/>
  <xs:element name="Code" type="xs:string"/>
  <xs:element name="Name" type="xs:string"/>
</xs:schema>
