trunk/google-search-java-sdk/schema/src/main/resources/com/google/code/googlesearch/ia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:mms="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:element="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" xmlns:web="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" xmlns:enc="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" xmlns:pho="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:ia="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:rs="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" xmlns:news="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:ads="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:spl="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" xmlns:tra="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" xmlns:fls="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mw="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb">
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" schemaLocation="ads.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" schemaLocation="bing-search-api.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" schemaLocation="fls.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" schemaLocation="enc.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb" schemaLocation="mw.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" schemaLocation="mms.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" schemaLocation="news.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" schemaLocation="pho.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" schemaLocation="rs.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" schemaLocation="spl.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" schemaLocation="tra.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" schemaLocation="web.xsd"/>
  <xs:element name="InstantAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ia:Results"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Results">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ia:InstantAnswerResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantAnswerResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ia:ContentType"/>
        <xs:element minOccurs="0" ref="ia:Title"/>
        <xs:element minOccurs="0" ref="ia:ClickThroughUrl"/>
        <xs:element minOccurs="0" ref="ia:Url"/>
        <xs:element minOccurs="0" ref="ia:Attribution"/>
        <xs:element minOccurs="0" ref="ia:InstantAnswerSpecificData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentType" type="xs:string"/>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="ClickThroughUrl" type="xs:anyURI"/>
  <xs:element name="Url" type="xs:anyURI"/>
  <xs:element name="Attribution" type="xs:string"/>
  <xs:element name="InstantAnswerSpecificData">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="fls:FlightStatus"/>
        <xs:element ref="enc:Encarta"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
