google-search-java-sdk/schema/src/main/resources/com/google/code/googlesearch/mms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:mms="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:element="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" xmlns:web="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" xmlns:enc="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" xmlns:pho="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:ia="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:rs="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" xmlns:news="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:ads="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:spl="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" xmlns:tra="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" xmlns:fls="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mw="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb">
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" schemaLocation="ads.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" schemaLocation="bing-search-api.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" schemaLocation="fls.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" schemaLocation="enc.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" schemaLocation="ia.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb" schemaLocation="mw.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" schemaLocation="news.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" schemaLocation="pho.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" schemaLocation="rs.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" schemaLocation="spl.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" schemaLocation="tra.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" schemaLocation="web.xsd"/>
  <xs:element name="Image">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mms:Total"/>
        <xs:element minOccurs="0" ref="mms:Offset"/>
        <xs:element minOccurs="0" name="Results" type="mms:ImageResults"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Video">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mms:Total"/>
        <xs:element minOccurs="0" ref="mms:Offset"/>
        <xs:element minOccurs="0" name="Results" type="mms:VideoResults"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Total" type="xs:integer"/>
  <xs:element name="Offset" type="xs:integer"/>
	<xs:complexType name="ImageResults">
	  <xs:sequence>
		<xs:element minOccurs="0" maxOccurs="unbounded" ref="mms:ImageResult"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="VideoResults">
	  <xs:sequence>
		<xs:element minOccurs="0" maxOccurs="unbounded" ref="mms:VideoResult"/>
	  </xs:sequence>
	</xs:complexType>
  <xs:element name="ImageResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mms:Title"/>
        <xs:element minOccurs="0" ref="mms:MediaUrl"/>
        <xs:element minOccurs="0" ref="mms:Url"/>
        <xs:element minOccurs="0" ref="mms:DisplayUrl"/>
        <xs:element minOccurs="0" ref="mms:Width"/>
        <xs:element minOccurs="0" ref="mms:Height"/>
		<xs:element minOccurs="0" ref="mms:FileSize"/>
		<xs:element minOccurs="0" ref="mms:ContentType"/>
        <xs:element minOccurs="0" ref="mms:Thumbnail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaUrl" type="xs:anyURI"/>
  <xs:element name="DisplayUrl" type="xs:anyURI"/>
  <xs:element name="Thumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mms:Url"/>
        <xs:element minOccurs="0" ref="mms:ContentType"/>
        <xs:element minOccurs="0" ref="mms:Width"/>
        <xs:element minOccurs="0" ref="mms:Height"/>
        <xs:element minOccurs="0" ref="mms:FileSize"/>
		<xs:element minOccurs="0" ref="mms:RunTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mms:Title"/>
        <xs:element minOccurs="0" ref="mms:PlayUrl"/>
		<xs:element minOccurs="0" ref="mms:SourceTitle"/>
        <xs:element minOccurs="0" ref="mms:RunTime"/>
        <xs:element minOccurs="0" ref="mms:ClickThroughPageUrl"/>
        <xs:element minOccurs="0" ref="mms:StaticThumbnail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayUrl" type="xs:anyURI"/>
  <xs:element name="RunTime" type="xs:integer"/>
  <xs:element name="ClickThroughPageUrl" type="xs:anyURI"/>
  <xs:element name="StaticThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mms:Url"/>
        <xs:element minOccurs="0" ref="mms:ContentType"/>
        <xs:element minOccurs="0" ref="mms:Width"/>
        <xs:element minOccurs="0" ref="mms:Height"/>
        <xs:element minOccurs="0" ref="mms:FileSize"/>
		<xs:element minOccurs="0" ref="mms:RunTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="Url" type="xs:anyURI"/>
  <xs:element name="Width" type="xs:integer"/>
  <xs:element name="Height" type="xs:integer"/>
  <xs:element name="ContentType" type="xs:string"/>
  <xs:element name="FileSize" type="xs:integer"/>
  <xs:element name="SourceTitle" type="xs:string"/>
</xs:schema>
