google-search-java-sdk/schema/src/main/resources/com/google/code/googlesearch/pho.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:mms="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" xmlns:element="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" xmlns:web="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" xmlns:enc="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" xmlns:pho="http://schemas.microsoft.com/LiveSearch/2008/04/XML/phonebook" xmlns:ia="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" xmlns:rs="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" xmlns:news="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" xmlns:ads="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" xmlns:spl="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" xmlns:tra="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" xmlns:fls="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" xmlns:mw="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb">
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/ads" schemaLocation="ads.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element" schemaLocation="bing-search-api.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/element/flightstatus" schemaLocation="fls.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/encarta" schemaLocation="enc.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/instantanswer" schemaLocation="ia.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/mobileweb" schemaLocation="mw.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/multimedia" schemaLocation="mms.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/news" schemaLocation="news.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/relatedsearch" schemaLocation="rs.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/spell" schemaLocation="spl.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/translation" schemaLocation="tra.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/LiveSearch/2008/04/XML/web" schemaLocation="web.xsd"/>
  <xs:element name="Phonebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="pho:Total"/>
        <xs:element minOccurs="0" ref="pho:Offset"/>
        <xs:element minOccurs="0" ref="pho:LocalSerpUrl"/>
        <xs:element minOccurs="0" ref="pho:Title"/>
        <xs:element minOccurs="0" ref="pho:Results"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Total" type="xs:integer"/>
  <xs:element name="Offset" type="xs:integer"/>
  <xs:element name="LocalSerpUrl" type="xs:anyURI"/>
  <xs:element name="Results">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="pho:PhonebookResult"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhonebookResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pho:Title"/>
        <xs:element ref="pho:Url"/>
        <xs:element ref="pho:Business"/>
        <xs:element ref="pho:PhoneNumber"/>
        <xs:element ref="pho:Address"/>
        <xs:element ref="pho:City"/>
        <xs:element ref="pho:StateOrProvince"/>
        <xs:element ref="pho:CountryOrRegion"/>
        <xs:element ref="pho:PostalCode"/>
        <xs:element ref="pho:Latitude"/>
        <xs:element ref="pho:Longitude"/>
        <xs:element ref="pho:UniqueId"/>
        <xs:element ref="pho:BusinessUrl"/>
        <xs:element ref="pho:UserRating"/>
        <xs:element ref="pho:ReviewCount"/>
        <xs:element ref="pho:DisplayUrl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Url" type="xs:anyURI"/>
  <xs:element name="Business" type="xs:string"/>
  <xs:element name="PhoneNumber" type="xs:string"/>
  <xs:element name="Address" type="xs:string"/>
  <xs:element name="City" type="xs:string"/>
  <xs:element name="StateOrProvince" type="xs:string"/>
  <xs:element name="CountryOrRegion" type="xs:string"/>
  <xs:element name="PostalCode" type="xs:string"/>
  <xs:element name="Latitude" type="xs:double"/>
  <xs:element name="Longitude" type="xs:double"/>
  <xs:element name="UniqueId" type="xs:string"/>
  <xs:element name="BusinessUrl" type="xs:anyURI"/>
  <xs:element name="UserRating" type="xs:double"/>
  <xs:element name="ReviewCount" type="xs:integer"/>
  <xs:element name="DisplayUrl" type="xs:anyURI"/>
  <xs:element name="Title" type="xs:string"/>
</xs:schema>
